<div>
  <h2 class="section-title">{{ .titles.infos }}</h2>
</div>

<div class="flex gap-10 text-2xl">
  <div class="">
    <div class="text-3xl pb-6"><strong>Premises</strong></div>
    <div class="my-2">The school provides you with:</div>

    <ul class="list-disc">
      <li>
        a library with the main scientific journals (paper or online) and some
        reference books
      </li>
      <li>an open space with many blackboards</li>
      <li>a video projector</li>
      <li>an automated video capture system</li>
      <li>a photocopy machine</li>
      <li>Internet (wifi + hubs to connect laptops to the local network)</li>
      <li>desktop computers (5 PCs) and a B&amp;W Laser Printer</li>
      <li>3 washing machines and 3 dryers.</li>
      <li>Three meals a day in our restaurant</li>
    </ul>
    <div class="text-3xl pb-6"><strong>Premises</strong></div>
    <div class="my-2">The school provides you with:</div>

    <ul class="list-disc">
      <li>
        a library with the main scientific journals (paper or online) and some
        reference books
      </li>
      <li>an open space with many blackboards</li>
      <li>a video projector</li>
      <li>an automated video capture system</li>
      <li>a photocopy machine</li>
      <li>Internet (wifi + hubs to connect laptops to the local network)</li>
      <li>desktop computers (5 PCs) and a B&amp;W Laser Printer</li>
      <li>3 washing machines and 3 dryers.</li>
      <li>Three meals a day in our restaurant</li>
    </ul>
  </div>

  <div class="">

        <div class="text-3xl pb-6"><strong>Lodging</strong></div>

    <div>
      <div>
        <div>
          Participants are housed in “chalets” in individual bedrooms
          (electricity: AC, 50Hz, 220V).<br />A flashlight is handy at night ;
          the school chalets are scattered on the mountainside and outside
          lights may be poor (power failures, storms,…).
        </div>
      </div>
      <div>
        <div>The altitude of the school is 1150 m.</div>
      </div>
    </div>
    <div>
      <div>
        <div>
          You will be housed in single rooms with your own bathroom/toilets.
        </div>
        Towels, shampoo, soap, shower gel and hair-dryer are provided.
      </div>
      <div>
        <div class="text-3xl py-6"><strong>Meals</strong></div>

        Meals are taken at the school dining room. Drinks are not included.<br />Free
        coffee &amp; tea is available in the bar and in the main building.<br />Breakfast:
        7:45 am to 8:45 am ; Lunch: 12:30 am ; Dinner: 7:30 pm<br />Accompanying
        persons who have registered can take their meals at the restaurant (18
        euros per meal).<br />The cafeteria has a piano, table soccer and table
        tennis.
      </div>
    </div>
  </div>
</div>
