<h2 class="">{{ .titles.location }}</h2>

<!-- <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}. </span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
</p> -->

<!-- <div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div> -->
<p itemprop="address"> <strong> Address</strong> : {{ site.Params.Adress }} </p>

<span class="about-photo">
  <img
    class="photo scroll-px-44"
    src="../img/map.png"
    alt="Panorama"
  />
</span>
