<h2 class="section-title">{{ .titles.register }}</h2>

<!-- <form class="w-full max-w-lg" method="post" name="contact" netlify> -->
<div class="p-8 rounded-lg border border-gray-200 bg-white">
  <h1 class="font-medium text-3xl text-center">
    Registration to the {{ site.Params.Name }}.
  </h1>

  <p class="text-gray-600 mt-6"></p>
  <p class="text-center">{{ site.Params.Fees }}</p>
  <p class="text-red-600 text-center">{{ site.Params.Registration }}</p>

  <form class="form_q" name="contact" netlify>
    <div class="mt-8 grid lg:grid-cols-2 gap-4">
      <div>
        <label
          for="firstname"
          class="text-2xl text-gray-700 block mb-1 font-medium"
          >First Name</label
        >
        <input
          type="text"
          name="firstname"
          id="firstname"
          class="bg-gray-200 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="Enter your First name"
          required
        />
      </div>
      <div>
        <label
          for="lastname"
          class="text-2xl text-gray-700 block mb-1 font-medium"
          >Last Name</label
        >
        <input
          type="text"
          name="lastname"
          id="lastname"
          class="bg-gray-200 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="Last name"
          required
        />
      </div>

      <div>
        <label
          for="affiliation"
          class="text-2xl text-gray-700 block mb-1 font-medium"
          >Affiliation</label
        >
        <input
          type="text"
          name="affiliation"
          id="affiliation"
          class="bg-gray-200 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="Sorbonne University"
          required
        />
      </div>

      <div>
        <label for="city" class="text-2xl text-gray-700 block mb-1 font-medium"
          >City</label
        >
        <input
          type="text"
          name="city"
          id="city"
          class="bg-gray-200 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="Paris"
          required
        />
      </div>

      <div>
        <label for="country" class="text-2xl text-gray-700 block mb-1 font-medium"
          >Country</label
        >
        <input
          type="text"
          name="country"
          id="country"
          class="bg-gray-200 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="France"
          required
        />
      </div>

      <div>
        <label for="dob" class="text-2xl text-gray-700 block mb-1 font-medium"
          >Date of birth</label
        >
        <input
          type="text"
          name="dob"
          id="dob"
          class="bg-gray-200 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="20/04/2004"
          required
        />
      </div>

      <div>
        <label for="email" class="text-2xl text-gray-700 block mb-1 font-medium"
          >Email
        </label>
        <input
          type="text"
          name="email"
          id="email"
          class="bg-gray-200 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="Your university personal email"
          required
        />
      </div>

      <div>
        <label
          for="advisor"
          class="text-2xl text-gray-700 block mb-1 font-medium"
          >Advisor's name</label
        >
        <input
          type="text"
          name="advisor"
          id="advisor"
          class="bg-gray-200 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
          placeholder="Your advisor's name (for Phd students only)"
        />
      </div>


      <div>
        <label class="text-2xl text-gray-700 font-medium block">
          Gender :</label
        >
        <input type="radio" id="gender1" name="gender" value="M" />
        <label class="pr-2" for="gender1">Male</label>
        <input type="radio" id="gender2" name="gender" value="F" />
        <label class="pr-2" for="gender2">Female</label>
        <input type="radio" id="gender3" name="gender" value="Other" />
        <label class="pr-2" for="gender3">Other</label>
      </div>



      <div>
        <label class="text-2xl text-gray-700 font-medium block">
          Status :</label
        >
        <input type="radio" id="status1" name="status" value="PhD" />
        <label class="pr-2" for="status1">PhD</label>
        <input type="radio" id="status2" name="status" value="PostDoc" />
        <label class="pr-2" for="status2">PostDoc</label>
        <input
          type="radio"
          id="status3"
          name="status"
          value="Permanent researcher"
        />
        <label class="pr-2" for="status3">Permanent researcher</label>
      </div>


      <div>
        <label class="text-2xl text-gray-700 font-medium block">
          Food regime :</label
        >
        <input type="radio" id="food1" name="food" value="Normal" />
        <label for="food1">No specific diet</label>
        <input type="radio" id="food2" name="food" value="Vegetarian" />
        <label for="food2">Vegetarian</label>
        <input type="radio" id="food3" name="food" value="Vegan" />
        <label for="food3">Vegan</label><br />
        <input type="radio" id="food4" name="food" value="Gluten" />
        <label for="food4">Gluten Free</label>
        <input type="radio" id="food5" name="food" value="No pork" />
        <label for="food5">No pork</label>
        <div class="flex gap-2">
          <input type="radio" id="food6" name="food" value="Other" />
          <label class="my-auto" for="food6">Other : </label>
          <input
            type="text"
            name="other"
            id="other"
            class="bg-gray-200 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-fit"
            placeholder="Details"
          />
        </div>
      </div>


    </div>

    <div class="mt-8 grid lg:grid-cols-1 gap-4">
      <label for="title" class="text-2xl text-gray-700 block mb-1 font-medium"
        >Title</label
      >
      <input
        type="text"
        name="title"
        id="title"
        class="bg-gray-100 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
        placeholder="Your contribution's title"
        required
      />

      <label
        for="Abstract"
        class="text-2xl text-gray-700 block mb-1 font-medium"
        >Abstract</label
      >
      <textarea
        rows="10"
        name="abstract"
        id="abstract"
        class="bg-gray-100 border border-gray-200 rounded py-4 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
        placeholder="Abstract"
        required
      >
      </textarea>
    </div>
    <div class="space-x-4 mt-8">
      <button
        type="submit"
        class="py-4 px-4 bg-blue-400 text-white shadow-xl rounded hover:bg-blue-600 active:bg-blue-700 disabled:opacity-50"
      >
        Submit my application
      </button>
      <!-- Secondary -->
      <button
        class="py-4 px-4 bg-orange-300 border border-gray-200 text-gray-600 shadow-xl rounded hover:bg-orange-200 active:bg-gray-200 disabled:opacity-50"
      >
        Reset
      </button>
    </div>
  </form>
</div>
